body,
.nav-color {
    background-image: linear-gradient(to bottom, #b0d5e5 0%, #c2c3f3 100%);
}

.container {
    margin-bottom: 100px;
}

.orange-bg {
    background-image: linear-gradient(to bottom, #75F48A 0%, #4DE5AF 100%);
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.c1 {
    background-image: linear-gradient(to top, #EC511A 0%, #EC6A16 100%);
    padding: 10px 30px;
}

.c2 {
    padding: 10px 30px;
    background-image: linear-gradient(to top, #67E061 0%, #20EC16 100%)
}

.c3 {
    padding: 10px 30px;
    background-image: linear-gradient(to top, #2841E7 0%, #156DDE 100%)
}

.categories h1 {
    color: #fff;
}

.categories img {
    width: 100px;
}

.c1,
.c2,
.c3 {
    border-radius: 10px;
}

.col-md-4:hover {
    transform: translateX(-5px);
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #C9E7E0 0%, #CFDFAB 100%);
}

.col:hover {
    transform: translateX(-5px);
}

.card-footer {
    border: none;
    background-color: #cedfb0;
}

.contact-bg {
    width: 500px;
    height: 240px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #60ef84 0%, #9bdeb4 100%);
}

input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

input:hover {
    background-color: yellow;
}

.last-color {
    color: gray;
}

.submit-btn {
    margin-top: 5px;
    padding: 10px 20px;
}

footer {
    text-align: center;
}